<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Page Not Found</title>
</head>
<body>
<div class="jubmotron mx-auto w-50">
    <h1 class="lead display-4 text-center">Oops! Seems you got lost 👀</h1>
    <p class="text-center">
        No worries, you can safely return <a href="/home">home</a>.
    </p>
</div>

</body>
</html>